{{ github_repo_id }}
{{ '=' * github_repo_id|length }}

.. include:: intro.rst

..
    .. toctree::
        :maxdepth: 2
        :caption: Contents:

        intro
        todos/index
        log/index
        connect
        about
        refs/index





indices
-------

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
